<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="classes" name="Suite">
    <!-- <test name="Test1">
        <parameter name="browser" value="chrome" />
        <parameter name="version" value="128" />
        <parameter name="platform" value="WIN10" />
        <classes>
            <class name="com.TC01_ValidateMessage" />
            <class name="com.TC02_DragAndDropSliders" />
            <class name="com.TC03_InputFormSubmission" />
        </classes>
    </test>

    <test name="Test2">
        <parameter name="browser" value="edge" />
        <parameter name="version" value="127" />
        <parameter name="platform" value="MAC" />
        <classes>
            <class name="com.TC01_ValidateMessage" />
            <class name="com.TC02_DragAndDropSliders" />
            <class name="com.TC03_InputFormSubmission" />
        </classes>
    </test>

    <test name="Test3">
        <parameter name="browser" value="firefox" />
        <parameter name="version" value="130" />
        <parameter name="platform" value="WIN11" />
        <classes>
            <class name="com.TC01_ValidateMessage" />
            <class name="com.TC02_DragAndDropSliders" />
            <class name="com.TC03_InputFormSubmission" />
        </classes>
    </test>

    <test name="Test4">
        <parameter name="browser" value="internet explorer" />
        <parameter name="version" value="11" />
        <parameter name="platform" value="WIN10" />
        <classes>
            <class name="com.TC01_ValidateMessage" />
            <class name="com.TC02_DragAndDropSliders" />
            <class name="com.TC03_InputFormSubmission" />
        </classes>
    </test> -->


 <test name="AutomationTestingCertification">
        <parameter name="browser" value="chrome" />
        <parameter name="version" value="86.0" />
        <parameter name="platform" value="WIN10" />
        <classes>
            <class name="AutomationTestingCertfication.TestScenario" />
        </classes>
    </test>

    <test name="AutomationTestingCertification2">
        <parameter name="browser" value="edge" />
        <parameter name="version" value="87.0" />
        <parameter name="platform" value="MAC" />
        <classes>
            <class name="AutomationTestingCertfication.TestScenario" />
        </classes>
    </test>




</suite>
